@keyframes appear-page-effect {
    0% {
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes appear-element-effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear-element-effect {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.appear-element-effect {
    animation-duration: 300ms;
    animation-name: appear-element-effect;
    animation-iteration-count: 1;
}

.appear-element-effect.ng-hide-animate {
    /*animation-duration: 300ms;
    animation-name: disappear-element-effect;
    animation-iteration-count: 1;*/
    display: none;
}

.page {
    animation-duration: 300ms;
    animation-name: appear-page-effect;
    animation-iteration-count: 1;
    padding: 20px;
}

.video-bg-container {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    opacity: 0.3;
    z-index: 0 !important;
}

.index-area {
    z-index: 1 !important;
}

.index-area .logo-container {
    background-image: url('../assets/logo.png');
    width: 220px;
    height: 230px;
    background-repeat: no-repeat;
}

.display-name-form .md-button {
    margin-top: -18px;
}

.chat-container {
    padding: 10px;
    overflow: auto;
}

.chat-area {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #696969;
}

.chat-area form input {
    border: 8px solid #000000;
    outline-color: #000000;
    padding: 5px 10px;
    color: #000000;
}

.chat-area form .md-button {
    margin: 0;
}

.chat-area .user-name {
    font-size: 16px;
    display: inline;
    font-weight: bold;
}

.chat-area .user-name .event{
    margin-right: 10px;
}

.chat-area .time {
    display: inline;
}

.chat-area .message {
    display: inline;
}