@keyframes appear-page-effect {
    0% {
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes appear-element-effect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear-element-effect {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.appear-element-effect {
    animation-duration: 300ms;
    animation-name: appear-element-effect;
    animation-iteration-count: 1;
}

.appear-element-effect.ng-hide-animate {
    animation-duration: 300ms;
    animation-name: disappear-element-effect;
    animation-iteration-count: 1;
}

.page {
    animation-duration: 300ms;
    animation-name: appear-page-effect;
    animation-iteration-count: 1;
    padding: 20px;
}