<md-toolbar md-whiteframe="5dp" ng-include="'src/chatio-app/views/toolbar.html'"></md-toolbar>
<c-page class="chat-page">
    <md-card class="appear-element-effect stats-area" ng-show="stats">
        <md-card-content>
            <span>
                <i class="zmdi zmdi-accounts zmdi-hc-2x">
                    <md-tooltip>
                    Users online
                    </md-tooltip>
                </i>
                <span class="stat-value">{{stats.userQty}}</span>
            </span>
        </md-card-content>
    </md-card>
    <div layout="column" layout-align="center center" flex>
        <form layout layout-align="center center" class="appear-element-effect display-name-form" ng-show="displayNameForm" ng-submit="submitName()">
            <md-input-container>
                <label>Enter your name</label>
                <input type="text" ng-model="user.name"/>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="submitName()">Submit</md-button>
        </form>
        <div layout="column" class="appear-element-effect chat-area" md-whiteframe="14dp" ng-show="!displayNameForm" flex>
            <div class="chat-container" c-chat-container flex>
                <div ng-repeat="message in messages" class="appear-element-effect message-block">
                    <span ng-if="message.type == MessageType.USER_CONNECTED_MESSAGE">
                        <div class="user-name event">
                            {{message.msg}}
                        </div>
                        <div class="message">
                            is connected
                        </div>
                    </span>
                    <span ng-if="message.type == MessageType.USER_DISCONNECTED_MESSAGE">
                        <div class="user-name event">
                            {{message.msg}}
                        </div>
                        <div class="message">
                            is disconnected
                        </div>
                    </span>
                    <span ng-if="message.type == MessageType.NEW_CHAT_MESSAGE" ng-style="{ 'color': message.color }">
                        <div class="user-name">
                            {{message.name}}
                        </div>
                        <div class="time">
                            [{{message.timestamp.getHours()}}:{{message.timestamp.getMinutes()}}]:
                        </div>
                        <div class="message">
                            {{message.msg}}
                        </div>
                    </span>
                </div>
            </div>
            <form name="messageForm" ng-submit="sendCurrentMessage()" layout>
                <input type="text" ng-model="currentMessage.text" placeholder="Type here..." flex>
                <md-button class="md-raised md-primary" ng-click="sendCurrentMessage()">Send</md-button>
            </form>
        </div>
    </div>
</c-page>